<h3>
    {{ leyenda }}
</h3>

<div class="input-group">
    <samp class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
            <i class="mdi mdi-minus"></i>
        </button>
    </samp>

    <input #txtPorcentaje type="number" class="form-control" name="porcentaje" [(ngModel)]="porcentaje" (ngModelChange)="onChanges($event)" min="1" max="100">

    <samp class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
                    <i class="mdi mdi-plus"></i>
            </button>
    </samp>
</div>